.grid {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1600px;

	@include min-width(xs) {
		padding: 0 2rem;
	}

	@include min-width(lg) {
		padding: 0 4rem;
	}
}

.col {
	flex: 1 0 auto;
}

@include create-col-classes($cols-class, $cols);