@font-face {
    font-family: 'Urbane Bold';
    font-display: swap;
    src: url('https://andys-webkitchen.co.uk/awk/fonts/urbane-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Acumin Pro';
    font-weight: 200;
    font-display: swap;
    src: url('https://andys-webkitchen.co.uk/awk/fonts/acumin-pro-200.woff2') format('woff2');
}

@font-face {
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-display: swap;
    src: url('https://andys-webkitchen.co.uk/awk/fonts/acumin-pro-400.woff2') format('woff2');
}